POSTGRES_DB=supplyflow
POSTGRES_USER=supplyflow
POSTGRES_PASSWORD=change-this-postgres-password
MONGO_DB=supplyflow
CORS_ORIGINS=http://localhost
JWT_SECRET=change-this-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
OPERATOR_USERNAME=operator
OPERATOR_PASSWORD=change-this-operator-password
HTTP_PORT=80

